.cont2{
    background-color:#E9D5DA ;
   

}
.vcss{
    /* width:80%; */
    /* left:-90px; */
     /* margin-left: 110px;  */
     background: rgb(37, 181, 221);
    
    
}

.logo{
    text-align:center;
    font-size: small;
    font-family: monospace;
    color: cornflowerblue;
    margin-top: -20px;

}
.logo h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: darkblue;
    

}
.content{
    text-align: justify;
    justify-content: space-around;
    margin:  3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: 1.8;
    color:black;
}

.row{
    margin: 2% 3%;
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    
}
.column {
    padding: 15px;
    justify-content: space-around;
    margin-left: 300px;

  }
  .images{
      margin-top: 20px;
      margin-bottom:-600px;
      margin-left: 40px;
  }
  
  .sliderimg{
    width: 500px;
    height: 340px;
    object-fit: cover;
    display: flex;
    align-items: center;
    margin-left: 350px;

  }