
.event{
    padding-top: 90px;
    text-align: center;
}
.tex{
    font-size: 0.8em;

  }
.col{
    width: 100px;
}
.but{
    padding-left: 110px;
    color: brown;
}
.container my-8{
    margin-bottom:0px;
}
.box{
    margin-top: -600px;
}
.container{
    padding-left:40px ;
   /* margin-top: -100px; */
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
}